table{
  width: 100%;
  text-align: left;
  background-color: white;
  border-collapse: collapse;
  font-family: 'Roboto Condensed', sans-serif;
}

th, td{
  padding: 0;
  padding: 15px;
}

th{
  background-color: rgb(48, 48, 48);
  color: white;
}

#title{
  padding-left: 40px;
  font-family: 'Bree Serif', serif;;
}

h1{
border-radius: 50%;
background-color: rgb(14, 241, 223);
justify-content: center;
display: flex;
color: rgb(0, 0, 0);
}

h3 {
justify-content: center;
display: flex;
border-radius: 20%;
border-color: mediumvioletred;
background-color: black;
color: blanchedalmond;
}
p{
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: start;

}
h4{
justify-content: center;
display: flex;
background-color: dimgray;
color: ghostwhite;
}